body {
}
.headline {
  color: red !important;
}



}
h1 {
      text-align: center;
}

h1{
  font-size: 5em
}
h2{
  font-size: 2.5em;
}
img{
  display: block;
  padding: 10px;
  margin: 0 auto;
  border-radius: 100px;
  width: 90%;
  height: 20em;
}
p{
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}
.dropdown-item {color: yellow;

}

.nav-item .nav-link { color: yellow;

}

.yellow {
  color: yellow;
}

a{
  color: yellow;
}

ol{
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
}

li#lower{
  margin-top: 7%;
}

li#lowest{
  margin-top: 14%
}

div.contrast{
  background-color: orange;
  color : rgb(255,255,255);
  display: flex;
  align-items: center;
  flex-direction: colum;
}

ul{
  list-style: none;
  display: flex;
}
li{
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover{
  font-size: 1.2em;
  color: blue;
  background-color: yellow;
}
